/*

CSS Structure notes and Plan

# .grid-list/.grid-box class for grid boxes
# .hgreen class for headers with green line underneath
# Make my own .graybtn and .greenbtn
# Make .tall, .small, .medium classes for images

# Have a special size for images inside of a .grid-list box

# .about-mod class for the About module on Home page and bottom of other pages.

# .film-mod class for the Yuki no Hana module on Home page and bottom of other pages.

/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700');

/* MINI-STYLESHEET
Bright green = #77ff4e
Dark green (text on button) = #30661f
Gray = #94989A */

/* ----- General ----- */
body {
  font-family: 'Roboto', sans-serif;
}

/* ----- Nav ----- */

.logo {

}

/* ----- Home header ----- */

header.home {
  background: url("../img/header.png");
  height: 625px;
}

header.home h1, .home span, .home p {
  color: white;

}

header .trailer {
  max-width: 100%;
  margin: 20% 0;
}

/* ----- Footer ----- */

/* ----- Other Page Header----- */

/* ----- Grid List ----- */

/* ----- Modules ----- */

/* ----- Custom Buttons ----- */

header .green-btn {
  background: #77ff4e;
  color: #30661f;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;

  padding: 15px 35px;
}
