/*

CSS Structure notes and Plan

# .grid-list/.grid-box class for grid boxes
# .hgreen class for headers with green line underneath
# Make my own .graybtn and .greenbtn
# Make .tall, .small, .medium classes for images

# Have a special size for images inside of a .grid-list box

# .about-mod class for the About module on Home page and bottom of other pages.

# .film-mod class for the Yuki no Hana module on Home page and bottom of other pages.

/* --- FONTS --- */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700");
/* MINI-STYLESHEET
Bright green = #77ff4e
Dark green (text on button) = #30661f
Gray = #94989A */
/* ----- General ----- */
body {
  font-family: 'Roboto', sans-serif;
  color: #94989A; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  color: #7A7D7F; }

section h1 {
  margin: 60px auto 15px;
  text-align: center; }

/* Work on this later */
.green-h1 {
  border-bottom: #77ff4e solid 5px;
  padding-bottom: 5px;
  width: 200px; }

/* ----- Nav ----- */
nav {
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1; }
  nav ul {
    margin: 0;
    padding: 0 0;
    list-style: none;
    display: inline; }
    nav ul a.active {
      color: #77ff4e; }
    nav ul li {
      display: inline-block;
      padding: 7.5px 15px; }
      nav ul li a {
        color: white; }
      nav ul li a:hover {
        color: #77ff4e;
        text-decoration: none; }

/* ----- Home header ----- */
header.home {
  background: url("../img/header.png");
  /*padding-bottom: 60px; - for mobile size*/
  min-height: 630px; }

header.home h1, .home span, .home p {
  color: white; }

header .trailer {
  max-width: 100%;
  margin: 20% 0;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); }

/* ----- Showings section (home) ----- */
section.showings {
  margin-bottom: 30px; }

section.showings h2 {
  padding: 15px 0 5px; }

/* ----- About section (home) ----- */
section.about {
  color: #fff;
  min-height: 400px;
  margin: 60px 0;
  background-image: url("../img/festival.png");
  background-size: cover;
  background-position: bottom;
  /* Later: Try to get img transparent with black bg */ }

/* Important column */
section.about .left {
  text-align: center; }

section.about .left h1 {
  color: #fff; }

section.about span.green {
  color: #77ff4e;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8em; }

section.about .right p {
  height: 100%;
  margin: 15% auto; }

/* ----- Preregister section ----- */
.form-container {
  max-width: 300px;
  margin: 0 auto; }

/* ----- Footer ----- */
footer.pg-footer {
  background: #000;
  margin-top: 60px;
  padding: 60px 0;
  font-size: 0.8em; }
  footer.pg-footer span {
    font-weight: bold;
    font-size: 1.2em; }
  footer.pg-footer ul {
    font-size: 0.8em;
    margin: 15px auto;
    text-align: right; }
  footer.pg-footer li {
    margin: 0 15px;
    list-style: none; }
    footer.pg-footer li a {
      color: #94989A; }
    footer.pg-footer li a:hover {
      color: #77ff4e;
      text-decoration: none; }

/* ----- Upcoming Showings Page----- */
header.pg-head {
  background: url("../img/header.png");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px; }
  header.pg-head .pg-title {
    color: white;
    margin: 125px 0 105px;
    text-align: right;
    font-size: 1.1em; }
    header.pg-head .pg-title h1 {
      color: white; }

/* ----- Grid List ----- */
section.show-grid {
  margin-top: 60px; }
  section.show-grid .box {
    background: #F7F7F7;
    margin: 0;
    padding: 0; }
  section.show-grid .gray-btn {
    float: none; }

/* ----- Preregister page ----- */
body.bg-img {
  background: url("../img/header.png"); }

.form-card {
  margin: 90px auto;
  padding: 30px;
  max-width: 720px;
  background-color: #F7F7F7;
  -webkit-box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.6); }
  .form-card h1 {
    margin-bottom: 15px; }
  .form-card hr {
    margin: 30px 0; }

/* ----- About page ----- */
.about-pg header.pg-head {
  background: url("../img/festival.png");
  background-position: bottom;
  background-size: cover;
  margin-bottom: 60px; }

.about-pg .row img {
  margin: 5px 0; }

/* ----- News page ----- */
.news-pg .main div {
  margin: 15px 0; }

/* ----- Modules ----- */
/* ----- Custom Buttons ----- */
/* Green button */
.green-btn {
  background: #77ff4e;
  color: #30661f;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 15px 35px; }

/* Gray button */
.gray-btn {
  font-family: 'Roboto Condensed', sans-serif;
  color: #94989A;
  background: transparent;
  border: solid 5px #94989A;
  padding: 5px 10px;
  float: right;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s; }

.gray-btn:hover {
  background: #77ff4e;
  color: #30661f;
  border: solid 5px #77ff4e;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); }
