.about-pg {
  header.pg-head {
    background: url("../img/festival.png");
    background-position: bottom;
    background-size: cover;
    margin-bottom: 60px;
  }

  .row {
    img {
      margin: 5px 0;
    }
  }

  .right {
    p {
      background: rgba(0,0,0,0.3);
    }
  }
}
