body.bg-img {
  background: url('../img/header.png')
}

.form-card {
  margin: 90px auto;
  padding: 30px;
  max-width: 720px;
  background-color: $lightgray;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.6);

}
