/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .form-container {
    margin: 0 auto;
  }

  header {
    .home {
      max-height: 400px;
    }
  }





}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  nav {
    position: fixed;

    i.hamburger {
      display: none;
    }

    ul {
      display: inline-block;
    }
  }

  header {
    .trailer {
      margin: 120px 0 105px;
    }
  }

  .form-card {
    padding: 60px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  nav {
    li {
      padding: 7.5px 30px;
    }
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
