/* MINI-STYLESHEET */

$brightgreen: #77ff4e;
$darkgreen: #30661f;
$gray: #94989A;
$darkgray: #7A7D7F;
$lightgray: #F7F7F7;

$RobotoCon: 'Roboto Condensed', sans-serif;
$Roboto: 'Roboto', sans-serif;


/***** IMPORTS *****/

/*  Upcoming Showings Page */
@import "showings";

/*  Preregister page  */
@import "preregister";

/*  About page  */
@import "about";

/*  News page  */
@import "news";

/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,700');



/* ----- General ----- */
body {
  font-family: 'Roboto', sans-serif;
  color: $gray;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  color: $darkgray;
}

section h1 {
  margin: 60px auto 15px;
  text-align: center;
}

/* Work on this later */
.green-h1 {
  border-bottom: #77ff4e solid 5px;
  padding-bottom: 5px;
  width: 150px;
  margin: 0 auto 30px;

}

/* ----- Nav ----- */

nav {
  background: rgba(0,0,0,0.6);
  margin: 0;
  // padding: 0 2vw;
  font-family: $Roboto;
  font-size: 0.8em;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;

  .navContainer {
    // width: 400px;
    padding: 0 auto;
    overflow: auto;
    margin: 0 auto;
  }

  .logo {
    margin: 5px;
    float: left;

  }

  .pages {
    float: left;
    // margin: 0 auto;
    // overflow: auto;
  }

  .social {
    float: left;
  }

  .hamburger {
    margin: 15px;
    font-size: 1.2em;
    float: right;
  }

  .hamburger:hover {
    color: purple;
  }

  ul {
    margin: 5px;
    padding: 0 0;
    list-style: none;
    float: right;
    display: hidden;

    a.active {
      color: $brightgreen;
    }


    li {
      display: inline-block;
      padding: 7.5px 7.5px;

      a {
        color: white;
      }

      a:hover {
        color: $brightgreen;
        text-decoration: none;
      }
    }


  }

  ul:hover {
    display: block;
  }

}


/* ----- Home header ----- */

header.home {
  background: url("../img/header.png");
  /*padding-bottom: 60px; - for mobile size*/
  // min-height: 700px;

  padding: 150px 5px 90px;

}

header.home h1, .home span, .home p {
  color: white;

}

header .trailer {
  margin: 0 0 30px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);

}

header {
  .head-text {
    // margin: 200px 0 0;
  }

  #row {
    min-height: 800px;
  }
}



/* ----- Showings section (home) ----- */

section.showings {
  margin-bottom: 30px;

  div {
    margin-bottom: 15px;
  }
}
section.showings h2 {
  padding: 15px 0 5px;
}

.btn-right {
  float: right;
  display: inline-block;
}


/* ----- About section (home) ----- */

section.about {
  color: #fff;
  margin: 60px 0 0;
  background-image: url("../img/festival.png");
  background-size: cover;
  background-position: bottom;


  /* Later: Try to get img transparent with black bg */
}

/* Important column */
section.about .left {
  text-align: center;
  background: rgba(0,0,0,0.5);
  padding: 60px 15px;
}

section.about .left h1 {
  margin: 0;
  color: #fff;
}

section.about span.green {
  color: #77ff4e;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.8em;
}

section.about .right p {
  // margin: 10% auto;
  padding: 15px;

}

/* ----- Preregister section ----- */

h1.preregister {
  text-align: center;
}

.form-container {
  max-width: 420px;
  margin: 0 60px;
}




/* ----- Footer ----- */

footer.pg-footer {
  background: #000;
  margin-top: 60px;
  padding: 60px 0;
  font-size: 0.8em;

  span {
    font-weight: bold;
    font-size: 1.2em;
  }

  ul {
    font-size: 0.8em;
    margin: 15px auto;
    text-align: right;
  }

  li {
    // display: inline-block;
    margin: 0 15px;
    list-style: none;

    a {
      color: $gray;
    }

    a:hover {
      color: $brightgreen;
      text-decoration: none;
    }
  }

}






/* ----- Custom Buttons ----- */

/* Green button */
.green-btn {
  background: #77ff4e;
  color: #30661f;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;

  padding: 15px 35px;
  transition: color .5s;
  transition: box-shadow .5s;
}

.green-btn:hover {
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.6);

}

/* Gray button */
.gray-btn {
  font-family: 'Roboto Condensed', sans-serif;
  color: $gray;
  background: rgba(0,0,0,0);
  border: solid 5px $gray;
  padding: 5px 10px;
  // display: block;
  float: right;
  // text-align: right;
  // max-width: 120px;
  // text-align: center;
  box-shadow: none;
  transition: background .5s;
  transition: color .5s;
  transition: border .3s;

}

.gray-btn:hover {
  background: #77ff4e;
  color: #30661f;
  border: solid 5px #77ff4e;
  text-decoration: none;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);

}


/* Row center fix thing */

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.row > [class*='col-'] img {
  align-self: center;
}
